/*
domain: : atchat.me

Font Styles:

373837 : grey
FFF100 : yellow
<color name="AtChatYellow">#FFFD10</color>
<color name="AtChatDarkGrey">#424242</color>
<color name="AtChatLightGrey">#616161</color>
background of image: 393939
sans-serif-medium

Pages:
About
Homepage
Contact

Companies for About page:
 ibm cloud: https://www.ibm.com/cloud/
: spring framework: https://spring.io/
: google firebase: https://firebase.google.com/
 mongodb https://www.mongodb.com/
https://www.android.com/
https://www.sqlite.org/index.html

 */

 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
  background-color: #383938;
  margin: 0px;
}

.content-wrap {
  text-align: center;
  color: #FFFD10;
  font-family: 'Lato', sans-serif;
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}

.content-wrap p:first-child {
	  margin-top: -30px;
  text-transform: lowercase;
  font-size: 6em;
}
.content-wrap p{
	 text-transform: lowercase;
}
.icon {
	margin-left: -80px;
	max-width: 300px;
}


#coming {
  padding-top: 60px;
  font-size: 1em;
}

#android {
  font-size: 2em;
}
