/*
domain: : atchat.me

Font Styles:

lightgrey: 616161
darkgrey: 383938
yellow: FFFD10
tuscan: E1D89F
Lightestgrey: CECFC7
sans-serif-medium

Pages:
About
Homepage
Contact

Companies for About page:
 ibm cloud: https://www.ibm.com/cloud/
: spring framework: https://spring.io/
: google firebase: https://firebase.google.com/
 mongodb https://www.mongodb.com/
https://www.android.com/
https://www.sqlite.org/index.html

 */

 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
  background-color: #383938;
  margin: 0px;
}

header {
  padding-top: 80px;
  background-color: #383938;
  max-width: 1000px;
  margin: 0 auto;
  overflow: auto;
}

.content-wrap-footer {
  text-align: center;
  background-color: #383938;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 50px;
  overflow: auto;
}
.imagecontainer {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
  margin-left: 30px;
}
.icon {
	max-width: 300px;
	height: auto;
	width: 90%;
	margin: 0 auto;
}
.screens {
	max-width: 400px;
	height: auto;
	width: 100%;
	margin: 0 auto;
}
.leftcolumn {
  width: 60%;
  float: left;
}

.rightcolumn {
  width: 40%;
  float: right;
}

.atchatcontent {
  padding-top: 20px;
  margin-left: -100px;
}

.atchatcontent p {
  max-width: 300px;
  margin: 0 auto;
}
h1 {
  color: #FFFD10;
}

#coming {
  padding-top: 0px;
  font-size: 1em;
  text-align: center;
}
.downloadbutton {
  max-width: 300px;
}

.slideshowcontainer {
  display: block;
  position: relative;
  left: 15px;
  max-width: 950px;
  width: 90%;
  height: auto;
}

/* Fading animation */
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fadein img {
    opacity:0;
    animation-name: fade;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    position:absolute;
    left:0;
    right:0;
}

.fadein img:nth-child(1) { animation-delay: 0s; }
.fadein img:nth-child(2) { animation-delay: 3s; }
.fadein img:nth-child(3) { animation-delay: 6s; }
.fadein img:nth-child(4) { animation-delay: 9s; }

.wrapwrapper {
  padding-top: 20px;
  margin: 0 auto;
  overflow: auto;
}

.featurescontent {
  height: 320px;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.featurescontent h2 {
  margin: 0 auto;
  width: 300px;
}
.featuresize {
  height: 320px;

}


.featuresheading {
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.featuresheaderimg {
  padding-top: 20px;
  text-align: center;
  width: 100px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.featurepiccontainer {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featurepics {
  max-width: 300px;
}

.contactcontent p {
  margin: auto auto;
  text-align: left;
  margin-left: 20%;
}

.downloadcontent {
  margin-top: 50%;
  text-align: center;
  width: 450px;
}

.playbadge {
  max-width: 25%;
  padding-bottom: 0;
  margin-bottom: -50px;
}

.playbadge_header {
  max-width: 170px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: -5px;
  padding: 0;
}

.mission-statement p {
  width: 80%;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
}

.contact-logo-big {
  max-width: 90%;
  height: auto;
}

@media only screen and (min-width: 800px) { /* desktop break point */
  .topnav {

    text-align: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 500;
    background-color: #383938;
    border-bottom: 2px solid #FFFD10;
    padding-bottom: 15px;
    height: 70px;
  }
  .topnav a {
  	position: relative;
  	text-align: center;
  	color: white;
    /* background-color: #383938; */
  	text-decoration: none;
  	padding: 0px 30px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    vertical-align: top;
    line-height: 4.2;
  }
  footer {
    border-bottom: 10px solid #FFFD10;
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding-top: 0;
  }
  .equalcolumnright {
    width: 50%;
    float: right;
    height: 320px;
  }
  .equalcolumnleft {
    width: 50%;
    float: left;
    height: 320px;
  }

  .equalcolumnright_contact {
    width: 50%;
    float: right;
    height: 420px;
  }
  .equalcolumnleft_contact {
    width: 50%;
    float: left;
    height: 420px;
  }
  .content-wrap {
    text-align: center;
    background-color: #383938;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
  }
}

@media only screen and (max-width: 799px) { /* mobile break point */
  .topnav {

    text-align: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 500;
    background-color: #383938;
    border-bottom: 2px solid #FFFD10;
    padding-bottom: 15px;
    height: 70px;
  }
  .topnav a {
  	position: relative;
  	text-align: center;
  	color: white;
  	text-decoration: none;
  	padding: 0px 5px;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    vertical-align: top;
    line-height: 4.2;
  }
  .rightcolumn {
    display: none;
  }

  .leftcolumn {
    width: 100%;
  }
  .atchatcontent {
    padding-top: 20px;
    margin-left: 0;
  }

  footer {
    border-bottom: 10px solid #FFFD10;
  }
  .equalcolumnright {
    width: 100%;
    height: 320px;
  }
  .equalcolumnleft {
    width: 100%;
    height: 320px;
  }
  .featurescontent {
    padding-top: 0;
    margin-top: -100px;
    height: 50px;
    width: 1000px;
    max-width: 100%;
    text-align: center;
  }
    .featurepicsmobile {
      margin-top: -60px;
    }
    #featurepicsmobiletop {
      margin-top: -30px;
    }

    .equalcolumnright_contact {
      width: 100%;
      height: 420px;
    }
    .equalcolumnleft_contact {
      width: 100%;
      height: 420px;
    }
    .downloadcontent {
      width: 100%;
      margin-bottom: -500px;
    }
    .content-wrap {
      text-align: center;
      background-color: #383938;
      color: white;
      font-family: 'Titillium Web', sans-serif;
      width: 100%;
      margin: 0 auto;
      padding: 20px 0px;
      overflow: auto;
    }
}

@media only screen and (max-width: 350px) { /* super small break point */
  .topnav {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 500;
    background-color: #383938;
    border-bottom: 2px solid #FFFD10;
    padding-bottom: 15px;
    height: 100px;
  }
  .topnav a {
  	position: relative;
  	text-align: justify;
  	color: white;
  	text-decoration: none;
  	padding: 0px 5px;
    /* margin-left: 1%;
    margin-right: 1%; */
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    max-height: 50px;
  }
}
