/*
domain: : atchat.me

Font Styles:

lightgrey: 616161
darkgrey: 383938
yellow: FFFD10
tuscan: E1D89F
Lightestgrey: CECFC7
sans-serif-medium

Pages:
About
Homepage
Contact

Companies for About page:
 ibm cloud: https://www.ibm.com/cloud/
: spring framework: https://spring.io/
: google firebase: https://firebase.google.com/
 mongodb https://www.mongodb.com/
https://www.android.com/
https://www.sqlite.org/index.html

 */

 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
  background-color: #616161;
  margin: 0px;
}

header {
  padding-top: 100px;
  background-color: #383938;
  max-width: 950px;
  margin: 0 auto;
  overflow: auto;
}
footer {
  border-bottom: 10px solid #FFFD10;
  max-width: 950px;
  margin: 0 auto;
  overflow: auto;
  padding-top: 0;
}
.topnav {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 500;
  background-color: #FFFD10;
  padding-top: 30px;
  padding-bottom: 30px;
}
.topnav a {
	position: relative;
	text-align: center;
	color: #FFFD10;
  background-color: #383938;
	text-decoration: none;
	padding: 10px 30px;
  margin: 0 60px;
  font-family: 'Titillium Web', sans-serif;
}
.content-wrap {
  text-align: center;
  background-color: #383938;
  color: #CECFC7;
  font-family: 'Titillium Web', sans-serif;
  max-width: 950px;
  margin: 0 auto;
  padding: 30px 50px;
  overflow: auto;
}

.imagecontainer {
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
  margin-left: 30px;
}
.icon {
	max-width: 300px;
	height: auto;
	width: 90%;
	margin: 0 auto;
}
.screens {
	max-width: 300px;
	height: auto;
	width: 90%;
	margin: 0 auto;
}
.leftcolumn {
  width: 60%;
  float: left;
}

.rightcolumn {
  width: 40%;
  float: right;
}

.atchatcontent {
  padding-top: 20px;
}
h1 {
  color: #FFFD10;
}

#coming {
  padding-top: 0px;
  font-size: 1em;
  text-align: center;
}

#android {
  font-size: 2em;
}

.screens {
    display: none;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
